#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 80px;

  section {
    max-width: 450px;
    min-width: 258px;
    margin: auto;
  }

  img {
    height: 80px;
    width: 80px;
    float: left;
  }

  .header {
    margin-left: 10px;
    position: relative;
    top: 30px;
    font-size: 2em;
  }
}

#togglenewtweet {
  float: right;
  margin: 19px auto;
}

#togglenewtweet:hover {
  color: hsla(194, 100%, 44%, 0.89);
}