section.new-tweet {
  border: 2px solid grey;
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
  margin: 2em;
  display: none;

  h2 {
    position: relative;
    bottom: 12px;
    left: 5px;
    border-bottom: black solid thin;
    max-width: 95%;
    text-align: left;
  }

  form {
    position: relative;
    bottom: 5px;
  }
  
  form textarea {
    width: 95%;
    margin: 5px;
    padding: 3px;
  }
  
  form input {
   margin-left: 5px;
  }
  
  .counter {
    float: right;
    margin-right: 6%;
  }
}