article.tweet {
  border: 2px solid grey;
  border-radius: 5px;
  margin: 2em;
  display: none;

  header {
    background-color: rgb(236, 236, 236);
    height: 50px;
  }

  header img {
    float: left;
    margin-left: 10px;
  }

  header h2 {
    float: left;
    margin-top: 4px;
    margin-left: 20px;
  }

  header h6 {
    margin-top:  15px;
    margin-right: 5px;
    float: right;
    color: lightgray;
  }

  p {
    margin: 25px 10px;
  }

  footer {
    border-top: lightgray solid thin;
    height: 28px;
  }

  footer p {
    float: left;
    margin: 7px 5px;
    font-size: 10px;
    width: 50%;
  }

  footer i {
    margin: 5px 5px;
    float: right;
    color: #7ce1e1;
  }

  i {
    float: right;
    display: none;
  }

  i:hover {
    display: block;
  }
}
